In [1]:
if 5 == 5*1:
    print ('Hurray')

Hurray

In [2]:
if 5 == 5:
    print ('True')
else:
    print('False')

True

In [3]:
def number(x):
    if x > 5:
        return ('Greater')
    elif x < 5:
        return ('Less than')
    else:
        return ('equal')

In [4]:
number(8)

'Greater'

In [5]:
def addition_of_ten(a):
    print ('Output')
    return a + 10

In [6]:
addition_of_ten(20)

Output

30

In [8]:
# Function in a function to define $25 per hour wages and additional $50 bonus
def wage(w_hours):
    return w_hours * 25
def with_bonus(w_hours):
    return wage(w_hours) + 50

In [9]:
# Below is the output for an employee that worked for 8 hours
wage(8), with_bonus(8)

(200, 250)

In [10]:
# If Johny saved at least $100 by the end of the week, he will get additional $10, else no extra cash
def add_10(m):
    if m >= 100:
        m = m + 10
        return m
    else:
        return ('Save more!')

In [11]:
add_10(120)

130

In [12]:
add_10(70)

'Save more!'

In [13]:
def substract_no(a,b,c):
    result = a * b -c
    print('Parameter a equals ', a)
    print('Parameter b equals ', b)
    print('Parameter c equals ', c)
    return result

In [14]:
substract_no(5,6,7)

Parameter a equals  5
Parameter b equals  6
Parameter c equals  7

23

In [15]:
#List function
Participants = ['Paul', 'Ade', 'Shade', 'Kunle']

In [16]:
Participants[0] = 'Gab'

In [17]:
Participants

['Gab', 'Ade', 'Shade', 'Kunle']

In [18]:
Participants[-1]

'Kunle'

In [19]:
del Participants[1]
Participants

['Gab', 'Shade', 'Kunle']

In [20]:
# Using methods function to modify list
Participants.append("Dwayne")
Participants

['Gab', 'Shade', 'Kunle', 'Dwayne']

In [21]:
# Using extend function to modify list
Participants.extend(["Christianah", "Johnson"])
Participants

['Gab', 'Shade', 'Kunle', 'Dwayne', 'Christianah', 'Johnson']

In [22]:
del Participants[6:12]
Participants

['Gab', 'Shade', 'Kunle', 'Dwayne', 'Christianah', 'Johnson']

In [23]:
#Using list in a print returns a string
print('The first participant is ' + Participants[0]+'.')

The first participant is Gab.

In [24]:
# Use len function to know the number of inputs in a list
len(Participants)

6

In [25]:
# Slicing can be used to obtain a tiny portion of a list
Participants[1:3]

['Shade', 'Kunle']

In [26]:
# index method is used to know the position on a list
Participants.index('Gab')

0

In [27]:
# Creating a list of a list
New_comers = ['John', 'Mathew']
Bigger_list = Participants, New_comers
Bigger_list

(['Gab', 'Shade', 'Kunle', 'Dwayne', 'Christianah', 'Johnson'],
 ['John', 'Mathew'])

In [28]:
# Use sort to arrange list in alphabetical, ascending or descending
Participants.sort()
Participants

['Christianah', 'Dwayne', 'Gab', 'Johnson', 'Kunle', 'Shade']

In [29]:
numbers = [1,5,7,8,9]
numbers.sort()
numbers

[1, 5, 7, 8, 9]

In [30]:
# To sort in descending order
numbers.sort(reverse=True)
numbers

[9, 8, 7, 5, 1]

In [31]:
# Tuples are a type of data sequence that are immutable: cannot be changed or modified. Cannot be appended or deleted
# Tuples are placed in parenthesis () and not brackets []
x = (4,5,7)
x

(4, 5, 7)

In [32]:
a,b,c = 4,7,9
b

7

In [33]:
# Tuples can be placed in a list
z =[x,a,b,c]
z

[(4, 5, 7), 4, 7, 9]

In [34]:
(age, years_of_school) = "25,4".split(',')
print(age)
print(years_of_school)

25
4

In [35]:
# Curly braces{} are used when setting up dictionary (dict) in Python
dict = {'A1':"Cat", 'A2' : "Dog", 'A3':"Mouse"}
dict

{'A1': 'Cat', 'A2': 'Dog', 'A3': 'Mouse'}

In [36]:
dict['A1']

'Cat'

In [37]:
# Adding values into dict
dict['A4']= "Goat"
dict

{'A1': 'Cat', 'A2': 'Dog', 'A3': 'Mouse', 'A4': 'Goat'}

In [38]:
# Another way for dictionary
Team = {}
Team["Sales_Department"] = "Joan"
Team["Finance_Department"] = "Gregory"
Team["HR_Department"] = "Smith"
print(Team)

{'Sales_Department': 'Joan', 'Finance_Department': 'Gregory', 'HR_Department': 'Smith'}

In [39]:
print(Team["Sales_Department"])

Joan

In [40]:
#Using get function can return 'none' if the value is not in the dictionary
print(Team.get("Logistics_Department"))

None

In [41]:
# Iteration is used for computing codes repeatedly
# end = " " manages the space between output values on a single line and limits to 20
even_numbers =(0,2,4,6,8,10,12,14,16,18,20)
for n in even_numbers:
    print(n, end = " ")

0 2 4 6 8 10 12 14 16 18 20

In [42]:
# Another iteration example for even numbers
# Ensure you write "x = x +2" and "end = " so your computer will not crash as a result of infinite loop (repeated iteration without end)
x = 0
while x<=20:
    print (x, end = " ")
    x= x+2
#This example is an incrementing loop

0 2 4 6 8 10 12 14 16 18 20

In [43]:
# Using range function to create lists
#range(start,stop,step)
list(range(0,10,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
# How to import the 'Math' module from Python standard library
import math
math.sqrt(4)

2.0

In [45]:
# Alternatively
from math import sqrt as s
s(36)

6.0

In [46]:
3 + s(64)

11.0

In [47]:
# To know everything in math module
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [48]:
2 < 3 and 2 > 1

True